@import '../../sass/all.scss';

.product_info_container {
    padding: 0 8px;
    .details_section {
        margin-bottom: 16px;
    }
    @include breakpoint(sm_phone) {
        padding: 0 16px;
    }
}