@import '../../sass/all.scss';

.cart_view_container {
    .cart_details_section {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
        border-radius: 10px;
        border: 1px solid $color_border;
        .product_details {
            display: flex;
            padding: 8px 8px 0;
            border-bottom: 1px solid $color_light_gray_2;
            .product_image {
                width: 200px;
                height: 100px;
                margin-right: 16px;
                img {
                    width: 100%;
                    height: 100px;
                }
            }
            .details {
                .title {
                    font-size: 16px;
                    line-height: 20px;
                    color: $color_black;
                    margin-bottom: 8px;
                }
                .size, .price, .original_price {
                    font-size: 14px;
                    line-height: 14px;
                    color: $color_black;
                    margin-bottom: 8px;
                }
                .original_price {
                    span {
                        text-decoration: line-through;
                    }
                }
                @include breakpoint(sm) {
                    max-width: 250px;
                }
            }
            @include breakpoint(sm) {
                width: 50%;
                border-bottom: none;
                padding-bottom: 8px;
            }
        }
        .btn_section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .qty_btn_section, .remove_btn {
                width: 50%;
                text-align: center;
            }
            .qty_btn_section {
                @include breakpoint(sm) {
                    width: 33%;
                }
            }
            .mobile_btn {
                width: 50%;
                display: flex;
                border-left: 1px solid $color_light_gray_2;
                .delete {
                    width: 50%;
                    cursor: pointer;
                    text-align: center;
                }
                .wishlist {
                    width: 50%;
                    cursor: pointer;
                    text-align: center;
                    border-left: 1px solid $color_light_gray_2;
                }
                @include breakpoint(sm) {
                    border-left: none;
                    display: none;
                }
            }
            .desktop_btn {
                display: none;
                @include breakpoint(sm) {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    font-size: 14px;
                    line-height: 20px;
                    padding-right: 8px;
                    .remove {
                        cursor: pointer;
                        text-decoration: underline;
                        margin-bottom: 4px;
                        &:hover {
                            color: $color_yellow;
                        }
                    }
                    .move_wishlist {
                        cursor: pointer;
                        text-decoration: underline;
                        &:hover {
                            color: $color_yellow;
                        }
                    }
                }
            }
            @include breakpoint(sm) {
                width: 50%;
            }
        }
        @include breakpoint(sm) {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}